body {
    background: linear-gradient(
        78.2deg,
        rgba(193, 200, 255, 0.789) -7.4%,
        rgba(255, 231, 246, 0.724) 71.6%
    );
}

.grid_class {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
@media screen and (max-width: 1200px) {
    .grid_class {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 760px) {
    .grid_class {
        grid-template-columns: 1fr;
        /* display: none; */
    }
}
